@font-face {
    font-family: "Dongle";
    src: url("../assets/Dongle-Regular.ttf");
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 229, 127);
    font-family: "Dongle";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 4rem;
}

.title_img {
    position: absolute;
    top: 0.5rem;
    left: 5rem;
}

.contents_container {
    padding: 1rem;
    width: 95%;
    height: 78%;
    background-color: rgb(57, 133, 61);
    border: 3px solid black;
    text-align: center;
    border-radius: 0.5rem;
}

.contents_A {
    margin-top: 6rem;
    margin-right: 1rem;
    display: inline-block;
    width: 43%;
    height: 70%;
    background-color: rgb(180, 133, 133);
    border-radius: 0.5rem;
    border: 3px solid black;
    padding: 1rem;
}

.character_name_A {
    margin-top: 1rem;
    font-size: 3rem;
}

.character_img_A {
    width: 100%;
    height: 85%;
    background-color: bisque;
    border-radius: 1rem;
    /* background-image: url("../assets/hodu.png"); */
    background-repeat: no-repeat;
    background-size: cover;
}

.contents_B {
    margin-top: 6rem;
    display: inline-block;
    width: 43%;
    height: 70%;
    background-color: rgb(79, 82, 119);
    border-radius: 0.5rem;
    border: 3px solid black;
    padding: 1rem;
}

.character_name_B {
    margin-top: 1rem;
    font-size: 3rem;
}

.character_img_B {
    width: 100%;
    height: 85%;
    background-color: bisque;
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 800px) {
    .contents_A {
        display: block;
        margin-top: 4.6rem;
        margin-bottom: 1rem;
        width: 94%;
        height: 40%;
        background-color: rgb(180, 133, 133);
        margin-top: 0;
    }
    .contents_B {
        display: flex;
        flex-direction: column-reverse;
        width: 94%;
        height: 40%;
        background-color: rgb(79, 82, 119);
        margin-top: 0;
    }

    .contents_container {
        width: 90%;
        padding-top: 4rem;
    }

    .character_img_A {
        height: 75%;
    }

    .character_img_B {
        height: 78%;
    }
}

@media (max-width: 450px) {
    .contents_A {
        width: 90%;
    }
    .contents_B {
        width: 90%;
    }
}